In [72]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [62]:
df = pd.read_csv("table_aapl.csv")

In [63]:
df.head()

   19980102  831  0.4764  0.4764.1  0.4764.2  0.4764.3   72411.2  28  0  0.1
0  19980102  841  0.4288    0.4288    0.4288    0.4288   62966.2  28  0  0.0
1  19980102  844  0.4288    0.4288    0.4288    0.4288   12593.2  28  0  0.0
2  19980102  902  0.4288    0.4288    0.4288    0.4288   31483.1  28  0  0.0
3  19980102  915  0.4329    0.4329    0.4329    0.4329   78707.8  28  0  0.0
4  19980102  920  0.4307    0.4329    0.4307    0.4329  157416.0  28  0  0.0

In [64]:
df.columns = ["Date", "Time", "Open", "High", "Low", "Close", "Volume", "Splits", "Earnings", "Dividends"]

In [65]:
df = df.drop("Earnings", axis=1)

In [66]:
df = df.drop("Dividends", axis=1)

In [67]:
df = df.drop("Splits", axis=1)

In [68]:
minutes_in_day = 1440
days_in_year = 365

In [69]:
from datetime import datetime

In [70]:
%%time

sin_days = []
cos_days = []
for date in df["Date"]:
    date = datetime.strptime(str(date), "%Y%m%d")
    date = float(date.strftime("%j"))
    sin_days.append(np.sin(2*np.pi*date/days_in_year))
    cos_days.append(np.cos(2*np.pi*date/days_in_year))

Wall time: 1min 7s

In [83]:
df1 = pd.DataFrame({"sin_days": sin_days, "cos_days": cos_days})
df = df.drop("Date", axis=1)
df["sin_days"] = sin_days
df["cos_days"] = cos_days
df.head()

   Time    Open    High     Low   Close    Volume  sin_days  cos_days
0   841  0.4288  0.4288  0.4288  0.4288   62966.2  0.034422  0.999407
1   844  0.4288  0.4288  0.4288  0.4288   12593.2  0.034422  0.999407
2   902  0.4288  0.4288  0.4288  0.4288   31483.1  0.034422  0.999407
3   915  0.4329  0.4329  0.4329  0.4329   78707.8  0.034422  0.999407
4   920  0.4307  0.4329  0.4307  0.4329  157416.0  0.034422  0.999407

In [85]:
sin_time = []
cos_time = []
for time in df["Time"]:
    time = datetime.strptime(str(time), "%H%M")
    hour = float(time.strftime("%H"))
    time = (hour*60.) + float(time.strftime("%M"))
    sin_time.append(np.sin(2*np.pi*time/minutes_in_day))
    cos_time.append(np.cos(2*np.pi*time/minutes_in_day))

In [90]:
df2 = pd.DataFrame({"sin_time": sin_time, "cos_time": cos_time})
#df2.plot.scatter("sin_time", "cos_time").set_aspect("equal")
df = df.drop("Time", axis=1)
df["sin_time"] = sin_time
df["cos_time"] = cos_time
df.head()

,Open,High,Low,Close,Volume,sin_days,cos_days,sin_time,cos_time
0,0.4288,0.4288,0.4288,0.4288,62966.2,0.034422,0.999407,0.763232,-0.646124
1,0.4288,0.4288,0.4288,0.4288,12593.2,0.034422,0.999407,0.754710,-0.656059
2,0.4288,0.4288,0.4288,0.4288,31483.1,0.034422,0.999407,0.700909,-0.713250
3,0.4329,0.4329,0.4329,0.4329,78707.8,0.034422,0.999407,0.659346,-0.751840
4,0.4307,0.4329,0.4307,0.4329,157416.0,0.034422,0.999407,0.642788,-0.766044

In [91]:
df.to_csv("AAPL.csv", sep=",", index=False)